<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.againrecyclerview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/backcon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/web"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewActivity" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>